.EightBall {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.EightBall h1 {
  color: white;
}
